.row > * {
  padding-top: 30px;
}

#profile-image {
  width: 50%;
}

.thumbnail-image-container {
  position: relative;
  height: 225px;
  overflow: hidden;
}

#hipster-image {
  max-width: none;
  height: 100%;
  position: absolute;
  left: 30%;
  transform: translateX(-30%);
}
