@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  background-color: #D6DFE8;
}

h1, p, a, a:focus, a:hover {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #444444;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

p {
  font-size: 30px;
}

a {
  font-size: 16px;
}

.container {
  padding-left: 60px;
}

#topmost-element {
  padding-top: 60px;
}

.social-btn {
  display: inline-block;
  margin-right: 18px;
  width: 58px;
  height: 58px;
  color: white;
  border-radius: 50%;
  background-color: #444444;
}

.social-btn > i > .fa-w-14, .social-btn > i > .fa-w-16 {
  height: 100%;
  font-size: 30px;
}

.social-btn > i > .fa-w-14 {
  margin-left: 16px;
}

.social-btn > i > .fa-w-16 {
  margin-left: 14px;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  margin-right: 20px;
  border: none;
  background-color: inherit;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none;
  border-bottom: 3px solid #36628E;
  background-color: inherit;
}

.thumbnail-image-container {
  position: relative;
  height: 225px;
  overflow: hidden;
}

.thumbnail-caption-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.thumbnail-image-container:hover .thumbnail-caption-container {
  opacity: 0.8;
}
